* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'Inter', sans-serif;
}

:root {
	--gray-900: #101828;
	--gray-500: #3A404E;
	--gray-200: #667085;
	--primary-color: #8E2424;
	--bg-color: #fff;
}

body {
	width: 100vw;
	background: var(--bg-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	width: 100%;
	height: 88px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.header>.navbar {
	width: 1200px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 80px;
	padding: 0 32px;
}

.header>.navbar>.logo {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
	justify-content: space-between;
}

.header>.navbar>.logo>.image {
	width: 27px;
	height: 26.99px;
}

.header>.navbar>.logo>.title {
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	color: var(--gray-500);
}

.header>.navbar>.menu {
	width: 362px;
	display: flex;
	flex-direction: row;
	gap: 32px;
}

.header>.navbar>.menu>.item>.link {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	color: var(--gray-200);
}

.header>.navbar>.buttons {
	width: 207px;
	height: 44px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
	gap: 12px;
}

.header>.navbar>.buttons>.first-header-btn,
.header>.navbar>.buttons>.second-header-btn {
	font-style: normal;
	font-size: 500;
	font-size: 16px;
	border-radius: 8px;
	border: none;
	outline: none;
	cursor: pointer;
}

.header>.navbar>.buttons>.first-header-btn {
	width: 83px;
	height: auto;
	background: transparent;

	color: var(--gray-200);
}

.header>.navbar>.buttons>.second-header-btn {
	width: 112px;
	height: auto;
	background: var(--primary-color);

	color: var(--bg-color);
}

.main>.first-section {
	width: 1440px;
	height: 487px;
	padding: 96px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.main>.first-section>.title {
	font-size: 16px;
	font-style: normal;
	color: var(--primary-color);
	font-weight: 600;
}

.main>.first-section>.first-text {
	font-size: 48px;
	font-style: normal;
	color: var(--gray-900);
	font-weight: 600;
	letter-spacing: -0.02rem;
}

.main>.first-section>.second-text {
	font-size: 20px;
	font-style: normal;
	color: var(--gray-200);
	font-weight: 400;
	text-align: center;
}
